ul {margin:0}
button {font-size:100%;padding:0;color:blue;background-color:transparent;border:none}
.changer .listening button:disabled{color:gray;}
.mover button:disabled{color:gray;}
.changer button {font-size:80%;margin:0em;padding:0;color:blue;background-color:transparent;border:none}
.back button{float:right;font-size:120%;color:#7a7;border:solid #7a7 1px;border-radius:2px;padding-right:0.2em;padding-left:0.2em}
.roled .title {
	float:left;
	text-decoration:underline;
	font-size: 120%;
	font-style:oblique;
	display:block;
	margin:0;
	margin-bottom:1em;
}
.changer .listening{
	margin-right:1em
}
ul {padding-left:0;}
.listening ul{
	list-style: none;

}
.changer .listening ul{
	list-style: none;
	height:10em;
	overflow:scroll;
	
}
.changer ul {
		margin-left:0.5em;

}
.changer button{
	margin:0;
}

.inner {background-color: #eee;padding:1em;}

.operation {

  padding:0.3em;
  
  margin-right:0.5em;
}

.log {
	border-left:solid gray 1px;
  padding:0.3em;
	height:33em;
	
}
.operation{
	height :33em;
}
.operation span{margin:0em;}
.changer {	
	border-bottom:solid lightgray 1px;
	height:15em;

}
.changer input {
	margin-top :0em;
	margin-left:0.5em;
}
.mover {
	border-bottom:solid lightgray 1px;
	padding-bottom:0.5em;
	padding-top:0.5em;

	height:15em;
	font-size:90%;
}

.mover .listening {
	display:flex;
}
.mover ul{
		height:15em;
    overflow:scroll;

}
.mover .updating{
	display:flex;
}
.mover .left {
	margin-left:0.5em;
	padding-right:0.5em;
	border-right:solid lightgray 3px;
	
}

.mover .right {
	flex-grow:1;
	margin-left:0.5em;
}
body {display:flex;}
.log .state ul {
	list-style: none;
	padding-left:1em;

}
.log .state {
		height:36em;
	font-size:80%;
	overflow:scroll;
}
.operation .roling ul {
	list-style: none;
}
.operation .roling ul li {
	margin:0.5em;
}
.operation .updating ul{
	list-style:none;
}
